/* Payment.css */

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  padding: 20px;
  background-color: #f9f9f9; /* Light background for better contrast */
  box-sizing: border-box; /* Includes padding in the height calculation */
}

.payment-title {
  font-size: 2rem;
  color: #030420; /* Dark color for text */
  margin-bottom: 20px;
}

.payment-detail {
  font-size: 1.2rem;
  color: #333; /* Dark gray text color */
  margin-bottom: 10px;
}

.payment-seats-title {
  font-size: 1.5rem;
  color: #030420;
  margin: 20px 0;
}

.payment-seats-list {
  list-style-type: none;
  padding: 0;
}

.payment-seat-item {
  font-size: 1.1rem;
  color: #555; /* Medium gray text color */
  margin-bottom: 5px;
}

.payment-button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0161FD; /* Blue color for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.payment-button:hover {
  background-color: #014bbf; /* Darker blue on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .payment-title {
    font-size: 1.5rem;
  }

  .payment-detail,
  .payment-seats-title,
  .payment-seat-item {
    font-size: 1rem;
  }

  .payment-button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .payment-title {
    font-size: 1.2rem;
  }

  .payment-detail,
  .payment-seats-title,
  .payment-seat-item {
    font-size: 0.9rem;
  }

  .payment-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
