/* UserLogin.css */

.user-login-container {
    position: relative;
    min-height: 20vh;
    background: url('./wallpaperflare.com_wallpaper.jpg') center center/cover no-repeat; /* Use the same background image */
    background-color: rgba(3, 4, 32, 0.719);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .user-login-content {
    position: relative;
    background: #030420; /* Dark overlay */
    padding: 2rem;
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;
  }
  
  .user-login-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0161FD;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .user-login-error {
    color: red;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .user-login-form {
    display: flex;
    flex-direction: column;
  }
  
  .user-login-form-group {
    margin-bottom: 1rem;
  }
  
  .user-login-form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #0161FD;
  }
  
  .user-login-form-group input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    transition: box-shadow 0.2s;
  }
  
  .user-login-form-group input:focus {
    box-shadow: 0 0 0 2px #0161FD; /* Tailwind CSS color blue-600 */
  }
  
  .user-login-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0161FD; /* Button color */
    color: #ffffff;
    padding: 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
    border: none;
    cursor: pointer;
  }
  
  .user-login-submit-button:hover {
    background-color: #0162fda1;
  }
  