.admin-profile-container {
  padding: 20px;
  background-color: #030420; /* Light background for contrast */
  border-radius: 8px;
  box-shadow:0 0 8px 5px rgba(0, 0, 0, 0.4);
}

.profile-title {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #0161FD;
}

.profile-item {
  width: 100%;
  padding: 10px;
  background-color: #0161fd27;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #0161FD;
  box-sizing: border-box;
}

.profile-item strong {
  color: #0161FD;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .admin-profile-container {
    padding: 15px;
    max-width: 100%; /* Full width on smaller screens */
  }

  .profile-title {
    font-size: 20px;
  }

  .profile-item {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .admin-profile-container {
    padding: 10px;
  }

  .profile-title {
    font-size: 18px;
  }

  .profile-item {
    font-size: 12px;
  }
}
