/* Styles for the checkout page container */
.checkout-container {
  position: relative;
  min-height: 20vh;
  background: url('/public/img/wallpaperflare.com_wallpaper.jpg') center center/cover no-repeat;
  background-color: rgba(3, 4, 32, 0.719);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


.checkout-content {
  margin: 0 auto;
  padding: 20px;
  background-color: #030420;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.checkout-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #0161FD;
  margin-bottom: 20px;
}

.booking-date,
.total-price {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.seat-list {
  list-style-type: none;
  padding: 0;
}

.seat-item {
  background-color: #0161fd27;
  color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Payment form styles */
.payment-form {
  background-color: #0161fd27;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

.card-element {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #0161FD;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

/* Button styles */
.pay-button {
  background-color: #0161FD; /* Button color */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.pay-button:hover {
  background-color: #0162fda1;
}

.pay-button:disabled {
  background-color: #5a97f9;
  cursor: not-allowed;
}

