.about-container {
  padding: 20px;
  background: url('../About/wallpaperflare.com_wallpaper.jpg') no-repeat center center/cover; /* Add your image path here */
  position: relative;
  color: #fff; /* Change text color to white for better visibility */
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.about-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the 0.6 value to make the background darker or lighter */
  z-index: 1;
}

.about-container * {
  position: relative;
  z-index: 2; /* Make sure content appears above the dark overlay */
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header-h1 {
  font-size: 36px;
  color: #7c92fd; /* Change color to white */
  margin: 0;
}

.sub-section {
  margin-bottom: 40px;
}

.sub-title {
  font-size: 28px;
  color: #eccf10; /* Change color to white */
  margin-bottom: 20px;
  text-align: center;
}

.sub-intro {
  font-size: 18px;
  color: #ddd; /* Lighter text color */
  line-height: 1.6;
  text-align: center;
  margin: 10px 0;
}

.sub-ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.sub-ul li {
  font-size: 18px;
  color: #ddd; /* Lighter text color */
  margin-bottom: 10px;
  line-height: 1.6;
}

.sub-ul li b {
  color: #2a17f3; /* Emphasize the bold text in white */
}

.about-img {
  max-width: 70%;
  height: auto; 
  display: block;
  margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-h1 {
    font-size: 28px;
  }

  .sub-title {
    font-size: 24px;
  }

  .sub-intro,
  .sub-ul li {
    font-size: 14px;
  }

  .about-img {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .header-h1 {
    font-size: 24px;
  }

  .sub-title {
    font-size: 20px;
  }

  .sub-intro,
  .sub-ul li {
    font-size: 12px;
  }

  .about-img {
    max-width: 40%;
  }
}
