.footer {
  background-color: #030420; 
  color: #ffffff; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  max-width: 150px; /* Adjust logo size */
}

.footer-links, .social-media {
  display: flex;
  gap: 15px;
}

.social-media svg {
  font-size: 30px;
}

.footer-links a, .social-media a {
  color: #0161FD; /* Light text color for links */
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover, .social-media a:hover {
  color: #fff; /* Slightly lighter color on hover */
}

.footer-bottom {
  margin-top: 10px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #BDC8E8; /* Light text color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links,
  .footer-social {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links a,
  .footer-social a {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    max-width: 120px; /* Adjust logo size for very small screens */
  }

  .footer-links a,
  .footer-social a {
    font-size: 12px; /* Further adjust font size for very small screens */
  }

  .footer-bottom p {
    font-size: 12px; /* Adjust font size for footer bottom text */
  }
}
