/* Createfilm.css */

.create-film-container {
  padding: 20px;
  background-color: #030420; /* Light background for contrast */
  border-radius: 8px;
  box-shadow:0 0 8px 5px rgba(0, 0, 0, 0.4);
}

.create-film-header {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #0161FD;
}

.create-film-form {
  display: flex;
  flex-direction: column;
}

.create-film-div {
  margin-bottom: 15px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #0161FD; /* Slightly lighter text for labels */
}

.input {
  width: 100%;
  padding: 10px;
  background-color: #0161fd27;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #0161FD;
  font-size: 14px;
  box-sizing: border-box;
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

textarea.input {
  resize: vertical;
  height: 100px;
}

.submit-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #0161FD; /* Button color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0162fda1;
}

.message {
  color: #e74c3c; /* Red color for error messages */
  margin-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .create-film-container {
    padding: 15px;
    max-width: 100%; /* Full width on smaller screens */
  }

  .create-film-header {
    font-size: 20px;
  }

  .label {
    font-size: 14px;
  }

  .input {
    font-size: 13px;
  }

  .submit-btn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .create-film-container {
    padding: 10px;
  }

  .create-film-header {
    font-size: 18px;
  }

  .label {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
  }

  .submit-btn {
    font-size: 12px;
  }
}
